<div class="contained-fluid">
    <div class="contained border m-auto pt-3 text-justify col-6 col-sm-10 col-md-10 col-lg-10 col-xl-10">
        <h2>{{aide.name}}</h2>
        <div class="contained border m-auto pt-3 text-justify col-6 col-sm-10 col-md-10 col-lg-10 col-xl-10">
            <h3>Description</h3>
            <p>{{aide.desc}}</p>
        </div>
        <div class="contained border m-auto pt-3 text-justify col-6 col-sm-10 col-md-10 col-lg-10 col-xl-10">
            <dl>
                {% for a in aide.apport %}
                <dd>- {{a}}</dd>
                {% endfor %}
            </dl>
        </div>
        <div class="contained border m-auto pt-3 text-justify col-6 col-sm-10 col-md-10 col-lg-10 col-xl-10">
            <h2>Les conditions</h2>
            {% for c in aide.conditions %}
            <dl>
                <dt>{{c.nom}}</dt>
                <dd>- {{c.desc}}</dd>
            </dl>
            {% endfor %}
        </div>
        <div class="contained border m-auto pt-3 text-justify col-6 col-sm-10 col-md-10 col-lg-10 col-xl-10">
            <h2>Liens utiles</h2>
            <dl>
                <dd>- {{aide.url}}</dd>
            </dl>
        </div>
    </div>
