
<head>
  <title>{% block title %}{% endblock %}</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <!--Importation des fichiers css-->
  <link rel="stylesheet" href="./static/base.css" />
  <!-- Importation des fichiers js -->
  <script src="./static/js/base.js"></script>
  <!--Importation des fontawesome icons-->
  <script src="https://kit.fontawesome.com/f41824aac2.js" crossorigin="anonymous"></script>
  <!--Importation des bibliothèques Bootstrap-->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>  <div class="container-fluid">
  <div class="container-fluid">
    <form>
      <div class="form-group col-xs-4 col-sm-7 col-md-6 col-lg-4 col-xl-4 mx-auto">
        <input type="text" placeholder="Entrez votre nom" class="form-control" id="usr">
      </div>
      <div class="form-group col-xs-4 col-sm-7 col-md-6 col-lg-4 col-xl-4 mx-auto">
        <input type="text" placeholder="Entrez votre prénom" class="form-control" id="usr">
      </div>
      <div class="form-group col-xs-4 col-sm-7 col-md-6 col-lg-4 col-xl-4 mx-auto">
        <input type="email" class="form-control" placeholder="Entrez votre adresse e-mail" id="email">
      </div>
      <div class="form-group col-xs-4 col-sm-7 col-md-6 col-lg-4 col-xl-4 mx-auto">
        <input type="usr" class="form-control" placeholder="Entrez votre nom d'utilisateur" id="usr">
      </div>
      <div class="form-group col-xs-4 col-sm-7 col-md-6 col-lg-4 col-xl-4 mx-auto">
        <input type="password" placeholder="Entrez votre mot de passe" class="form-control" id="pwd">
      </div>
      <div class="form-group col-xs-4 col-sm-7 col-md-6 col-lg-4 col-xl-4 mx-auto">
        <input type="password" placeholder="Confirmez votre mot de passe" class="form-control" id="pwd">
      </div>
    </form>
    <div class="d-flex justify-content-end col-sm-8">
      <input type="button" class="btn btn-secondary" value="S'inscrire"></input>
    </div>
  </div>
  <div class="Je suis un macaque mais bleu signé Xavier">
  </div>
