<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--Importation des fichiers css-->
    <link rel="stylesheet" href="./static/site_pro.css">
    <!-- Importation des fichiers js -->
    <script src="./static/site_pro.js"></script> 
    <!--Importation des fontawesome icons-->
    <script src="https://kit.fontawesome.com/f41824aac2.js" crossorigin="anonymous"></script>
    <!--Importation des bibliothèques Bootstrap-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="contained-fluid">
        <h1>Les differentes aides disponibles pour les étudiants</h1>
        {% for (name, url, apport, desc, conditions, motcle, cas_particulier, cumulable) in liste_aides %}
        <div class="contained border m-auto pt-3 text-justify col-6 col-sm-10 col-md-10 col-lg-10 col-xl-10">
            <h2>{{name}}</h2>
            <div class="contained border m-auto pt-3 text-justify col-6 col-sm-10 col-md-10 col-lg-10 col-xl-10">
                <h3>Description</h3>
                <p>{{desc}}</p>
            </div>
            <div class="contained border m-auto pt-3 text-justify col-6 col-sm-10 col-md-10 col-lg-10 col-xl-10">
                <dl>
                    {% for a in apport %}
                    <dd>- {{a}}</dd>
                    {% endfor %}
                </dl>
            </div>
            <div class="contained border m-auto pt-3 text-justify col-6 col-sm-10 col-md-10 col-lg-10 col-xl-10">
                <h2>Les conditions</h2>
                {% for (nom, desc) in conditions %}
                <dl>
                    <dt>{{nom}}</dt>
                    <dd>- {{desc}}</dd>
                </dl>
                {% endfor %}
            </div>
            <div class="contained border m-auto pt-3 text-justify col-6 col-sm-10 col-md-10 col-lg-10 col-xl-10">
                <h2>Liens utiles</h2>
                <dl>
                    <dd>- {{url}}</dd>
                </dl>
            </div>
        </div>
        {% endfor %}
    </div>
</body>
</html>