<head>
    <title>{% block title %}{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--Importation des fichiers css-->
    <link rel="stylesheet" href="./static/site_pro.css">
    <!-- Importation des fichiers js -->
    <script src="./static/site_pro.js"></script>
    <!--Importation des fontawesome icons-->
    <script src="https://kit.fontawesome.com/f41824aac2.js" crossorigin="anonymous"></script>
    <!--Importation des bibliothèques Bootstrap-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="container-fluid">
        <!-- edit form column -->
        <div class="col-lg-12 text-lg-center">
            <h2>Edition du profil</h2>
        </div>
        <div class="col-lg-8 personal-info">
            <form role="form">
                <div class="form-group row">
                    <label class="col-lg-3 form-control-label">Nom</label>
                    <div class="col-lg-9 m-auto">
                        <input class="form-control" type="text" value=""/>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-lg-3 form-control-label">Prénom</label>
                    <div class="col-lg-9">
                        <input class="form-control" type="text" value=""/>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-lg-3 form-control-label">Nom d'utilisateur</label>
                    <div class="col-lg-9">
                        <input class="form-control" type="usr" value=""/>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-lg-3 form-control-label">E-mail</label>
                    <div class="col-lg-9">
                        <input class="form-control" type="email" value=""/>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-lg-3 form-control-label">Biographie</label>
                    <div class="col-lg-9">
                        <textarea placeholder=" Parlez de vous"></textarea>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-lg-3 form-control-label">Mot de passe</label>
                    <div class="col-lg-9">
                        <input class="form-control" type="password" value=""/>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-lg-3 form-control-label">Confirmer le nouveau mot de passe</label>
                    <div class="col-lg-9">
                        <input class="form-control" type="password" value=""/>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-lg-3 form-control-label"></label>
                    <div class="col-lg-9">
                        <a type="button" class="btn btn-secondary" href="infos_user_template.html">Annuler</a>
                        <input type="button" class="btn btn-primary" value="Confirmer les changements" />
                    </div>
                </div>
            </form>
        </div>
    </div>
    <hr />
</body>