<!DOCTYPE html>
<html lang="fr" dir="ltr">
<head>
    <title>{% block title %}{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--Importation des fichiers css-->
    <link rel="stylesheet" href="./static/site_pro.css">
    <!-- Importation des fichiers js -->
    <script src="./static/site_pro.js"></script>
    <!--Importation des fontawesome icons-->
    <script src="https://kit.fontawesome.com/f41824aac2.js" crossorigin="anonymous"></script>
    <!--Importation des bibliothèques Bootstrap-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
  <body>
    <div class="container-fluid">
    <div>
    <h2>{{nom_utilisateur}}</h2>
    <h3>{{adresse_mail}}</h3>
    </div>
    <div>
      <h2>Informations personnelles</h2>
      <div class="row">
      <h3 class="col-sm-2">Nom : </h3><h3>{{nom}}</h3>
      </div>
      <div class="row">
      <h3 class="col-sm-2">Prénom : </h3><h3>{{prenom}}</h3>
      </div>
    <div>
      
      <div class="collapse">
      
    </div>
      </div>
<button href="#Bar" class="btn btn-default" data-toggle="collapse">A propos de moi <i class="fas fa-info-circle"></i></button>
</div>
<div id="Bar" class="collapse in">
    <p>{{biographie}}</p>
</div>
    </div>
    <div class="d-flex justify-content-end col-sm-10"> 
      <a href="edit_profile_template.html">Editer des informations </a>
    </div>
    
  </body>
</html>
